
body {
  background-image: url(stonebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  position: relative;
  width: 30vh;
  height: 30vh;
}


#lampada {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}


.brilho {
  background-color:rgba(224, 177, 49, 0.205) ;
  box-shadow: 0px 0px 100000px 10px rgba(224, 178, 49, 0.596);
  
}


#btn {
  position: absolute;
  width: 20%; 
  height: 20%;
  top: 52%; 
  left: 16%;
  transition: left 0.3s;
}

#btn:active {
  left: 18%; 
}


